@import "variables";
@import "library";

header {
  font-family: $header-font;
  margin: 0 0 $spacing;
  padding: 0;
  overflow: hidden;

  ul {
    float: right;

    li {
      display: inline-block;
      float: left;
      padding: 32px 16px;

      @media (max-width: 450px) {
        padding: 32px 16px;
      }

      &:nth-last-child(1) {
        padding-right: 0;
      }
    }
  }
}
