@import url("//fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic,300,300italic");
@import url("//fonts.googleapis.com/css?family=Lato:300,700");

$main-font:      'Source Sans Pro', Arial, sans-serif;
$header-font:    'Lato', sans-serif;
$code-font:      'Monaco', 'Consolas', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;

$title-color:    #333332;
$text-color:     #4E5860;
$primary-color:  #568cbe;

$font-alpha:     2.625rem;
$font-beta:      2.125rem;
$font-charlie:   1.4rem;
$font-delta:     1.2rem;
$font-echo:      1rem;
$font-foxtrot:   .875rem;
$font-golf:      .75rem;

$nav-background: $title-color;
