@import "variables";

* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
  height: 100%;
}

body {
  @extend html;

  background-color: $background;
  color: $text-color;

  font: {
    family: $main-font;
    size: $font-charlie;
  }

  line-height: 1.7;
}

a {
  border-bottom: 1px solid $primary-color;
  color: $primary-color;
  padding: 0 2px;
  text-decoration: none;

  &:hover {
    color: $title-color;
    border-color: $title-color;
  }
}

@include selection {
  background: $primary-color;
  color: #ffffff;
}
