.blog-list {
  flex: 1;
  flex-direction: column;
  flex-wrap: wrap;
}

.blog-summary {
  background: $tinted-background;
  margin-bottom: 16px;

  a {
    color: $text-color;
    display: block;
    padding: 16px;
    text-decoration: none;
    border: 0;
  }

  p {
    margin: 0;
  }

  &:hover {
    background: $secondary-color;
  }
}

.blog-summary-header {
  color: $title-color;
  font-family: $main-font;
  font-size: $font-charlie;
  font-weight: bold;
  padding: 0;
  margin: 0 0 8px 0;
}

.blog-summary-description {
  font-size: $font-delta;
}