@import "variables";
@import "library";

@include headings() {
  @extend .spacing;

  font: {
    family: $header-font;
    weight: 300;
  }

  color: $title-color;
}

h1 {
  font-size: $title;
}

h2 {
  font-size: $font-beta;
}

h3 {
  font-size: $font-charlie;
}

h4 {
  font-size: $font-delta;
}

h5 {
  font-size: $font-echo;
}

h6 {
  font-size: $font-foxtrot;
}
