header {
  font-family: $header-font;
  margin: 0 0 $spacing;
  padding: 0;
  overflow: hidden;
}

.logo {
  background: $primary-color;
  border: 0;
  color: $white;
  font-family: $logo-font;
  font-weight: bold;
  float: left;
  padding: 8px 16px;
  text-transform: uppercase;
}

.navigation {
  float: right;

  li {
    display: inline-block;
  }

  a {
    border: 0;
    font-size: $font-beta;
    text-decoration: none;
    margin: 6px;
  }
}