---
---

@import "text";
@import "responsive";
@import "grid";
@import "header";
@import "post";
@import "list";

* {
  box-sizing: border-box;
}

body {
  color: #181818;
  background: #f7f7f7;
  font-size: 20px;
  line-height: 1.4;
  font-family: $main-font-family;
  padding: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font-family;
}

a {
  color: #2333c4;

  &:hover {
    text-decoration: none;
  }

  &:visited {
    color: #2333c4;
  }
}

.fixed-width {
  max-width: 860px;
  margin: 0 auto;
}

.container {
  @extend .row;
}

.content {
  @extend .column;
  @extend .l-10-12;
}

.masthead {
  margin: 1rem 0 0;
}