@import url('https://fonts.googleapis.com/css?family=Patua+One|Source+Sans+Pro|Raleway|Inconsolata');

$main-font:       'Source Sans Pro', Arial, sans-serif;
$header-font:     'Patua One', sans-serif;
$logo-font:       'Raleway', sans-serif;
$code-font:       'Inconsolata', 'Monaco', 'Consolas', monospace;

$light: white;
$light-tint: #f8f9f8;
$primary: #32e2d1;
$primary-tint: #425f7b;
$dark-highlight: #bbbbbd;
$dark: #333332;
$dark-tint: black;

$white:             white;
$light-color:       $light;
$title-color:       $dark-tint;
$text-color:        $dark;
$primary-color:     $primary;
$secondary-color:   $primary-tint;
$background:        $light;
$tinted-background: $light-tint;

$title:           3.4rem;
$font-alpha:      2.625rem;
$font-beta:       2.125rem;
$font-charlie:    1.4rem;
$font-delta:      1.2rem;
$font-echo:       1rem;
$font-foxtrot:    .875rem;
$font-golf:       .75rem;

$spacing:         1.5rem;

$nav-background:  $title-color;

.spacing {
  margin: $spacing 0;
}

.double-spacing {
  margin: (2 * $spacing) 0;
}
